@import url(./main.css);

.about .about--header {
  background-color: var(--color-copyright-container);
}

.about--banner {
  background-image: url(../images/banners/about-page/aboutTop-banner.jpg);
  display: flex;
  flex-basis: 19vw;
}

.about--banner > h1 {
  color: var(--color-background-primary);

  margin: auto;
  text-transform: capitalize;
}
.about--details-wrapper-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 5vw;
}

.about .details-text-1,
.details-text-2 {
  width: 50%;
}
.about .details-text-2 > h1 {
  margin-top: 0;
  color: var(--moreInfo-background-color);
}
.about .details-text-2 > p {
  color: var(--font-color-about-page);
  font-family: var(--font-family-nav);
  line-height: 1.7;
}
.details-text-1 > p {
  color: var(--font-color-about-page);
  font-family: var(--font-family-nav);
  line-height: 1.7;
  margin-top: 0;
}
.details-text-1 > h1 {
  color: var(--moreInfo-background-color);
}
.details-image-container-1 {
  background-image: url(../images/banners/about-page/about-banner-1.png);
  display: flex;
  flex-basis: 40vw;
  height: 25vw;
}
.about--mid-container {
  background-image: url(../images/banners/about-page/vaultariBackground-blue-about.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  flex-basis: 28vw;
  text-align: center;
}

.mid-container-text > h1 {
  color: var(--color-background-primary);
  background: url(../images/banners/about-page/tinyBlueDivider-center.png)
    center bottom no-repeat;

  padding: 45px 0;
}

.mid-container-text > p {
  color: var(--color-background-primary);
  line-height: 1.4;
  margin: auto;
}

.mid-container-text {
  display: flex;
  flex-direction: column;

  width: 47%;
  margin: auto;
}

.about--details-wrapper-2 {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.details-wrapp-flex {
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  padding: 5vw;
}

.details-image-container-2 {
  background-image: url(../images/banners/about-page/about-banner-2.png);
  display: flex;
  flex-basis: 40vw;
  height: 25vw;
}

@media (max-width: 550px) {
  .about .about--details-wrapper-1 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .about header {
    grid-template-columns: 50px 1fr 150px;
  }

  .about .main--bottom-nav-links-container span {
    font-size: 8px;
  }
}
@media (max-width: 630px) {
}
