@import url(main.css);

.main--banner-container {
  position: relative;
  background-color: var(--color-background);
  height: 50vw;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/images/banners/homepage_01.jpg);
}

.main--quote-heading {
  font-size: 50px;

  width: 65%;

  margin: auto;

  position: relative;

  text-transform: capitalize;
}

.button {
  width: 250px;
  height: 50px;

  margin: auto;

  font-size: 17px;

  color: var(--color-text);

  font-weight: bold;

  border: 0px;

  position: relative;

  background-image: linear-gradient(
    to right,
    var(--color-gradient-buttons-primary-1),
    var(--color-gradient-buttons-primary-2)
  );

  font-family: var(--font-family-nav);

  cursor: pointer;

  text-transform: uppercase;
}

.main--subHeading {
  padding: 0;
  margin: 20px 0 30px 0;

  position: relative;

  font-family: var(--font-family-nav);
}

strong {
  text-transform: capitalize;
}

.main--info-container {
  position: relative;

  background-image: url(/images/banners/blueBackgroundLayer.jpg);
  background-color: var(--color-background);
  background-position: top center;
  background-size: cover;
  width: 100vw;
  height: 40vw;
}

.feedback-testimonial-header {
  text-transform: uppercase;

  color: var(--color-text-feedback);

  font-family: var(--font-family-nav);

  font-weight: bold;

  padding-top: 50px;

  margin-bottom: 0;

  text-align: center;
}

.main--info-text-container {
  position: relative;

  display: flex;
  flex-direction: column;

  text-align: center;

  color: var(--color-text);

  top: 75px;
}
.main--moreInfo-container {
  position: relative;
  background-color: var(--color-font-feedback-heading);
  height: 60vw;
  width: 100vw;

  display: flex;
  flex-direction: column;
}

.main--moreInfo-wrapper {
  display: flex;
  flex-direction: row;

  position: relative;

  margin-left: 155px;

  gap: 100px;
}
.moreInfo-heading {
  text-align: left;
  color: var(--color-background);
  padding: 50px 20px 40px 80px;

  background: url(/images/banners/blueFloatLeftDivider.png) left bottom
    no-repeat;
}
.moreInfo-p {
  text-align: left;
  color: var(--color-background);
  font-family: var(--font-family-nav);

  width: 80%;

  line-height: 1.5;

  padding: 0 20px 40px 80px;
}

.main--info-heading {
  text-transform: capitalize;

  font-size: 40px;

  padding-bottom: 50px;

  background: url("/images/banners/blueCenterDivider.png") bottom no-repeat;
}

.main--flex-images-container {
  display: flex;
  flex-direction: row;

  position: relative;

  margin: 80px auto auto auto;

  color: var(--color-text);
}
.description-wrapper {
  display: flex;
  flex-direction: row;

  justify-items: center;
}
.boat-div {
  background-image: url(/images/banners/boat-img.jpg);
  background-color: var(--color-text);
  height: 100%;
  width: 420px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: var(--color-text);

  position: relative;

  display: flex;
  flex-direction: column;
}

.heart-div {
  background-image: url(/images/banners/heart-img.jpg);
  background-color: var(--color-text);
  height: 100%;
  width: 420px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: var(--color-text);

  text-align: center;

  position: relative;

  display: flex;
  flex-direction: column;
}
.mountain-div {
  background-image: url(/images/banners/mountain-img.jpg);
  background-color: var(--color-text);
  height: 100%;
  width: 420px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: var(--color-text);

  text-align: center;

  position: relative;

  display: flex;
  flex-direction: column;
}

.worker-div {
  background-image: url(/images/banners/worker-img.jpg);
  background-color: var(--color-text);
  height: 100%;
  width: 420px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: var(--color-text);

  text-align: center;

  position: relative;

  display: flex;
  flex-direction: column;
}

.boat-text,
.heart-text,
.mountain-text,
.worker-text {
  margin: 150px auto;
  text-align: center;
}
.boat-heading,
.heart-heading,
.mountain-heading,
.worker-heading {
  padding: 20px;

  text-transform: capitalize;
}

.boat-heading,
.heart-heading,
.mountain-heading,
.worker-heading {
  background: url("/images/banners/blueLineDivider.png") bottom no-repeat;
}

.worker-heading {
  font-size: 23px;
  padding: 22px;
}

.boat-p,
.heart-p,
.mountain-p,
.worker-p {
  width: 90%;
  font-size: 13px;

  margin: auto;
}

.main--flex-img {
  width: 100%;
  height: 100%;

  position: relative;
}

.main--flex-div {
  height: 100%;
  width: auto;

  display: flex;
  flex-direction: column;
}

.moreInfo-text-container {
  display: flex;
  margin: 0;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
}
.text-container-1,
.text-container-2 {
  width: 40vw;
  height: 42vw;

  background-color: var(--moreInfo-background-color);
}

.feedback-text-container {
  padding-top: 45px;
}

.main--feedback-text-container {
  position: relative;
  text-align: center;

  top: 74px;

  flex-direction: column;

  padding-bottom: 90px;
}
.designDivider-bottom {
  width: 2px;
  height: 135px;

  padding-bottom: 0;

  position: relative;

  margin: auto auto 0 auto;
}

.designDivider-top {
  width: 2px;
  height: 135px;

  margin: 0 auto;
  position: relative;
}

.blue {
  background-color: var(--color-nav-background);
}

.main--feedback-heading {
  color: var(--color-font-feedback-heading);

  text-transform: capitalize;

  font-size: 40px;

  padding-bottom: 50px;

  text-align: center;

  background: url("/images/banners/blueCenterDivider.png") bottom no-repeat;
}

.main--info-p {
  width: 47%;
  margin: auto;

  line-height: 1.6;

  font-family: var(--font-family-nav);
}

.feedback-containers-wrapper {
  display: flex;
  flex-direction: row;

  margin: auto;
  gap: 70px;
}

.main--feedback-container {
  background-image: url(/images/banners/whiteVaultariBackground.jpg);

  background-color: var(--color-background);
  height: 65vw;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
}
.main--feedback-wrap {
  position: relative;
  display: flex;
  flex-direction: row;

  gap: 100px;
}
.feedback-container-1,
.feedback-container-2,
.feedback-container-3 {
  box-shadow: var(--color-box-shadow) 0px 8px 24px;
  text-align: center;
  width: 20vw;
  height: auto;

  background-color: var(--color-background);

  padding: 50px;
}

.main--feedback-wrap {
  justify-content: center;
}

.main--feedback-p {
  line-height: 2;

  width: 58%;
  margin: auto;

  font-family: var(--font-family-nav);
}

.main--laptop-img {
  width: 100%;
  height: 100%;
}

.main--partnersBackground-img {
  width: 100%;
  height: 100%;
}

.main--contact-images-container {
  display: grid;
  grid-template-areas:
    "logo logo logo"
    "social1 social2 social3";

  grid-template-rows: 60px 100px;

  grid-template-columns: 55px 70px 40px;

  align-items: center;

  text-align: left;
}

.social1-contact {
  grid-area: social1;
}
.social2-contact {
  grid-area: social2;
}
.social3-contact {
  grid-area: social3;
}

.main--contact-container-items-position {
  color: var(--color-text);

  text-transform: capitalize;

  display: flex;
  flex-direction: row;

  justify-content: center;

  gap: 200px;

  padding: 8vw;

  font-family: var(--font-family-nav);

  background-color: var(--color-background-copyright-container-primary);
}

.main--contact-container ul {
  list-style: square;

  margin: 8px 0px;

  line-height: 2.5;
}

.position ul li {
  line-height: 2;
  padding-left: 0px;

  text-align: left;
}

.main--contact-container span {
  text-align: left;
  margin-left: 25px;

  font-weight: bolder;
}

li::marker {
  color: var(--color-list-footer-primary);
}

.main--bottom-nav-links-container {
  display: flex;
  flex-direction: row;

  text-align: center;

  justify-content: center;

  gap: 50px;

  background-color: var(--color-nav-footer-primary);

  padding: 25px;

  color: var(--color-text);

  text-transform: capitalize;

  font-family: var(--font-family-nav);
}
.getQuote-img {
  width: 100%;
  height: auto;
}
.getQuote-heading {
  padding-bottom: 45px;

  background: url("/images/banners/whiteCenterDivider.png") bottom no-repeat;

  text-transform: capitalize;
}
.getQuote-content {
  position: relative;

  color: var(--color-text);

  text-align: center;

  margin-top: 5px;
}
.main--getQuote-container {
  display: flex;
  flex-direction: column;

  position: relative;
  background-color: var(--color-background);
  height: 45vw;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/images/banners/laptopBackground.jpg);
}
.getQuote-p {
  width: 45%;

  font-family: var(--font-family-nav);

  margin: auto;

  padding-bottom: 45px;

  line-height: 1.7;
}

.main--quote-container {
  display: flex;

  flex-direction: column;

  text-align: center;

  color: var(--color-text);

  margin-top: 14vw;

  padding: 0px;
}

.main--ourPartners-container {
  position: relative;
  background-color: var(--color-background);
  height: 30vw;
  width: 100vw;

  display: flex;
  flex-direction: column;
}

.ourPartners-logo-container {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
}

.logo-wrapper-1,
.logo-wrapper-2 {
  display: flex;

  justify-content: center;

  gap: 180px;

  flex-direction: row;

  text-align: center;
}
.ourPartners-heading {
  text-align: center;
  color: var(--moreInfo-background-color);

  text-transform: capitalize;

  padding-bottom: 100px;

  margin-top: 50px;

  background: url(/images/banners/blueCenterDivider.png) center no-repeat;
}

.main--copyright-container {
  color: var(--color-text);

  background-color: var(--color-background-copyright-container-primary);

  padding: 25px;

  text-align: center;
}

.main--contact-flex-products-container > h3 {
  margin: 0 20px;
  text-align: left;
  padding: 0;
}

.main--contact-flex-contactInfo-container > h3 {
  margin: 0 20px;
  text-align: left;
  padding: 0;
}

.checked {
  color: var(--color-nav-footer-primary);
}

.feedback-user {
  color: var(--color-nav-footer-primary);
}

.main--contact-flex-contactInfo-container ul :first-child {
  list-style-image: url(/images/list-styles/location-img.png);
}

.main--contact-flex-contactInfo-container ul :nth-last-child(2) {
  list-style-image: url(/images/list-styles/phone-img.png);
}

.main--contact-flex-contactInfo-container ul :last-child {
  list-style-image: url(/images/list-styles/mail-img.png);
}
