@import url(./main.css);

.main--banner-container {
  position: relative;
  background-color: var(--color-background);
  height: 50vw;
  width: 99vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/banners/index-page/homepage_01.jpg);
}

.main--quote-heading {
  width: 65%;

  margin: auto;

  position: relative;

  text-transform: capitalize;
}

.main--subHeading {
  padding: 0;
  margin: 20px 0 30px 0;

  position: relative;

  font-family: var(--font-family-nav);
}

strong {
  text-transform: capitalize;
}

.main--info-container {
  position: relative;

  background-image: url(../images/banners/index-page/blueBackgroundLayer.jpg);
  background-color: var(--color-background);
  background-position: top center;
  background-size: cover;
  width: 99vw;
  height: 40vw;
  animation-name: appear;
}

.feedback-testimonial-header {
  text-transform: uppercase;

  color: var(--color-text-feedback);

  font-family: var(--font-family-nav);

  font-weight: bold;

  padding-top: 50px;

  margin-bottom: 0;

  text-align: center;
}

.main--info-text-container {
  position: relative;

  display: flex;
  flex-direction: column;

  text-align: center;

  color: var(--color-text);

  top: 75px;
}
.main--moreInfo-container {
  position: relative;
  background-color: var(--color-font-feedback-heading);
  height: 60vw;
  width: 99vw;

  display: flex;
  flex-direction: column;
}

.main--moreInfo-wrapper {
  display: flex;
  flex-direction: row;

  position: relative;

  margin-left: 155px;

  gap: 100px;
}
.moreInfo-heading {
  text-align: left;
  color: var(--color-background);
  padding: 50px 20px 40px 80px;

  font-size: 25px;

  background: url(../images/banners/index-page/blueFloatLeftDivider.png) left
    bottom no-repeat;
}
.moreInfo-p {
  text-align: left;
  color: var(--color-background);
  font-family: var(--font-family-nav);

  width: 80%;

  line-height: 1.5;

  padding: 0 20px 40px 80px;
}

.main--info-heading {
  text-transform: capitalize;

  font-size: 40px;

  padding-bottom: 50px;

  background: url(../images/banners/index-page/blueCenterDivider.png) bottom
    no-repeat;
}

.main--flex-images-container {
  display: flex;
  flex-direction: row;

  position: relative;

  margin: 80px auto auto auto;

  color: var(--color-text);
}
.main--description-container {
  display: flex;
  flex-direction: row;

  position: relative;

  justify-items: center;
}
.boat-div {
  background-image: url(../images/banners/index-page/boat-img.jpg);
  background-color: var(--color-text);
  height: 29.1vw;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: var(--color-text);

  position: relative;

  display: flex;
  flex-direction: column;
}

.heart-div {
  background-image: url(../images/banners/index-page/heart-img.jpg);
  background-color: var(--color-text);
  height: 29.1vw;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: var(--color-text);

  text-align: center;

  position: relative;

  display: flex;
  flex-direction: column;
}
.mountain-div {
  background-image: url(../images/banners/index-page/mountain-img.jpg);
  background-color: var(--color-text);
  height: 29.1vw;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: var(--color-text);

  text-align: center;

  position: relative;

  display: flex;
  flex-direction: column;
}
.worker-div {
  background-image: url(../images/banners/index-page/worker-img.jpg);
  background-color: var(--color-text);
  height: 29.1vw;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: var(--color-text);

  text-align: center;

  position: relative;

  display: flex;
  flex-direction: column;
}

.boat-text,
.heart-text,
.mountain-text,
.worker-text {
  margin: 150px auto;
  text-align: center;
}
.boat-heading,
.heart-heading,
.mountain-heading,
.worker-heading {
  padding: 20px;

  text-transform: capitalize;
}

.boat-heading,
.heart-heading,
.mountain-heading,
.worker-heading {
  background: url(../images/banners/index-page/blueLineDivider.png) bottom
    no-repeat;
}

.worker-heading {
  font-size: 23px;
  padding: 22px;
}

.boat-p,
.heart-p,
.mountain-p,
.worker-p {
  width: 90%;
  font-size: 13px;

  margin: auto;
}

.main--flex-img {
  width: 100%;
  height: 100%;

  position: relative;
}

.main--flex-div {
  height: 100%;
  width: auto;

  display: flex;
  flex-direction: column;
}

.moreInfo-text-container {
  display: flex;
  margin: 0;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
}
.text-container-1,
.text-container-2 {
  width: 40vw;
  height: 42vw;

  background-color: var(--moreInfo-background-color);
}

.feedback-text-container {
  padding-top: 45px;
}

.main--feedback-text-container {
  position: relative;
  text-align: center;

  top: 74px;

  flex-direction: column;

  padding-bottom: 90px;
}

.main--feedback-heading {
  color: var(--color-font-feedback-heading);

  text-transform: capitalize;

  padding-bottom: 50px;

  text-align: center;

  background: url(../images/banners/index-page/blueCenterDivider.png) bottom
    no-repeat;
}

.main--info-p {
  width: 47%;
  margin: auto;

  line-height: 1.6;

  font-family: var(--font-family-nav);
}

.feedback-containers-wrapper {
  display: flex;
  flex-direction: row;

  margin: auto;
  gap: 70px;
}

.main--feedback-container {
  background-image: url(../images/banners/index-page/whiteVaultariBackground.jpg);

  background-color: var(--color-background);
  height: 65vw;
  width: 99vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
}
.main--feedback-wrap {
  position: relative;
  display: flex;
  flex-direction: row;

  gap: 100px;
}
.feedback-container-1,
.feedback-container-2,
.feedback-container-3 {
  box-shadow: var(--color-box-shadow) 0px 8px 24px;
  text-align: center;
  width: 20vw;
  height: auto;

  background-color: var(--color-background);

  padding: 50px;
}

.main--feedback-wrap {
  justify-content: center;
}

.main--feedback-p {
  line-height: 2;

  width: 58%;
  margin: auto;

  font-family: var(--font-family-nav);
}

.main--quote-container {
  display: flex;

  flex-direction: column;

  text-align: center;

  color: var(--color-text);

  margin-top: 14vw;

  padding: 0px;
}

.main--ourPartners-container {
  position: relative;
  background-color: var(--color-background);
  height: 30vw;
  width: 99vw;

  display: flex;
  flex-direction: column;
}

.ourPartners-logo-container {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
}

.logo-wrapper-1,
.logo-wrapper-2 {
  display: flex;

  justify-content: center;

  gap: 180px;

  flex-direction: row;

  text-align: center;
}
.ourPartners-heading {
  text-align: center;
  color: var(--moreInfo-background-color);

  text-transform: capitalize;

  padding-bottom: 100px;

  margin-top: 50px;

  background: url(../images/banners/index-page/blueCenterDivider.png) center
    no-repeat;
}

.checked {
  color: var(--color-nav-footer-primary);
}

.feedback-user {
  color: var(--color-nav-footer-primary);
}

@keyframes reveal {
  from {
    opacity: 0;
    clip-path: inset(0% 60% 0% 50%);
  }
  to {
    opacity: 1;
    clip-path: inset(0% 0% 0% 0%);
  }
}

p,
h1 {
  animation: auto linear reveal both;
  animation-timeline: view();
  animation-range: entry 25% cover 50%;
}
